<ion-view view-title="Playlists" hide-back-button="true" hide-nav-bar="true">
  <ion-content>
  	<div class="searchTextProduct" >
    		<div style="margin-top:-25px;">
                    <div class="inputTextDivSmall">
                        <div class="inputTextProductActive">
                            <input class="InputTypeLeft"  type="text" placeholder="Search A Customer"  />
                            <img src="img/searchTextBox.png" style="width:100%" />
                        </div>
                    </div>
                    <div class="inputTextDivImage" align="left" >
                        <img src="img/searchIcon.png" style="width:70%;" />
                    </div>
            </div>
    </div>
    <ion-list>
    	<div ng-repeat="item in Customers">
            <div class="customersList" >
            	<a  href="#/app/single/{{item.id}}">
                    <div class="customersImage" align="center">
                        <div>
                            <img src="img/Icons/i{{item.image}}.png" style="width:100%;" />
                        </div>
                    </div>
                    <div class="customersInfo">
                        <h4>aa{{item.name}}</h4>
                        <h5>{{item.title}}</h5>
                    </div>
                </a>
            </div>
             <div class="customersLine"></div>
          
        </div>
    </ion-list>
  </ion-content>
</ion-view>
